<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Assemble"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/assemble_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/assemble_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="com.example.assemble.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.assemble.activity.SignUpActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.assemble.activity.NoteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.assemble.activity.HomePageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.assemble.activity.FlashcardsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.assemble.activity.TodoFormActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>